/** Proxima Nova **/
@font-face {
    font-family: 'Proxima Nova';
    src: url('ProximaNova-Light.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'proxima_nova_semibold';
    src: url('ProximaNova-Semibold.ttf') format('truetype');
    font-weight: lighter;
    font-style: normal;

}
