body {
    width: 360px;
    min-height: 490px;
    margin: 10px;
    white-space: nowrap;
    font-family: 'Proxima Nova', Georgia, sans-serif;
    padding: 10px 35px 10px 35px;
    position: relative;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 20px;
    font-weight: 400;
}

p {
    font-size: 14px;
}

div {
    word-wrap: break-all;
}

.title { 
    padding-bottom: 10px;
}
.summary {
    background-color: #ffffff;
}

.cta {
    margin-top: 10px;
    text-align: center;
    display: block;
    width: 146px;
    left: 50%;
    margin-left: -75px;
    height: 60px;
    position: absolute;
    bottom: 10px;
}

.action {
    position: relative;
}

.button {
    width: 146px;
    height: 40px;
    bottom: 20px;
	border-radius: 20px;
	background-color: #1f9c6e;
    color: white;
    line-height: 42px;
    font-size: 14px;
    font-family: "proxima_nova_semibold";
    text-transform: uppercase;
}

.button:focus {
    outline: none;    
}

.button:hover {
    color: white;
    background-color: #08af73;   
}


.parent {
    white-space: normal;
    position: relative;
    width: 100%;
    margin: 0px 0px 70px 0px;
}

.topic p {
    padding-bottom: 5px;
}

.question {
    font-family: "proxima_nova_semibold";
    display: inline-block;
    max-width: 280px;
}

.answer {
    float: right;
    font-family: "proxima_nova_semibold";
    text-transform: uppercase;
    line-height: 17px;
}

.double-line-height {
    line-height: 34px;
}

.clear {
    clear: both;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.yes {
    color: #e1990d;
}

.no {
    color: #1f9c6e;
}

.maybe {
    color: grey;
}

#site-title {
    color: #1f9c6e;
    font-family: "proxima_nova_semibold";
    text-transform: capitalize;
}

.powered-by {
    display: block;
    position: absolute;
    left: 50%;
    margin-left: -45px;
    bottom: 0px;
    font-style: italic;
}

.priv {
    color:  #1f9c6e;
}

/* dropwdown */
.dropdown {
    display: block;
    background-color: #f3f3f3;
    margin-top: 10px;
    padding: 15px;
    font-size: 14px;
    line-height: 15px;
}