body {
    width: 380px;
    margin: 10px;
    white-space: nowrap;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 14px;
    padding: 5px;
}

p {
    font-size: 12px;
}

div {
    word-wrap: break-all;
}

.summary {
    background-color: #ffffff;
    margin: 0px;
    padding: 5px;
}

.cta {
    margin-top: 10px;
    text-align: center;
}

.button {
    display: inline-block;
}

.parent {
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 380px;
    white-space: normal;
}

.collection {
    background-color: #c9d1dd;
}

.use {
    background-color: #c9d1dd; 
}

.disclosure {
    background-color: #c9d1dd;
}

.choice {
    background-color: #c9d1dd;
}

.spacing {
    padding: 1px 5px 1px 5px;
    margin-bottom: 10px;
}