body {
    width: 350px;
    min-height: 490px;
    margin: 10px;
    white-space: nowrap;
    font-family: 'Proxima Nova', Georgia, sans-serif;
    padding: 10px 25px 10px 25px;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 20px;
    font-weight: 400;
}

p {
    font-size: 14px;
}

div {
    word-wrap: break-all;
}

.title { 
    padding-bottom: 10px;
}
.summary {
    background-color: #ffffff;
    margin: 0px;
}

.cta {
    margin-top: 10px;
    text-align: center;

}

.button {
    display: block;
    position: absolute;
    left: 50%;
    margin-left: -70px;
    bottom: 65px;
    width: 146px;
	height: 40px;
	border-radius: 20px;
	background-color: #1f9c6e;
    color: white;
    line-height: 42px;
    font-size: 14px;
    font-family: "proxima_nova_ltsemibold";
    text-transform: uppercase;
}

.button:focus {
    outline: none;    
}

.button:hover {
    background-color: #08af73;   
}


.parent {
    margin-top: 20px;
    white-space: normal;
    padding: 0px 12px 12px 12px;
}

/* question answer */
.topic {
}

.topic p {
    padding-bottom: 5px;
}

.question {
    font-family: "proxima_nova_ltsemibold";
}

.answer {
    float: right;
    font-family: "proxima_nova_ltsemibold";
    text-transform: uppercase;
}

.clear {
    clear: both;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.yes {
    color: #e1990d;
}

.no {
    color: #1f9c6e;
}

.maybe {
    color: grey;
}

#site-title {
    color: #1f9c6e;
    font-family: "proxima_nova_ltsemibold";
    text-transform: capitalize;
}

.powered-by {
    display: block;
    position: absolute;
    left: 50%;
    margin-left: -45px;
    bottom: 32px;
    font-style: italic;
}

.priv {
    color:  #1f9c6e;
}